<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Vorname Nachname</h2>
            <h4>example@tigris.com</h4>
        </div>
        <img src="./assets/profilePicture.jpeg" alt="profilePicture">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bp">
        <mat-icon>people</mat-icon>
        BP
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/deliveries">
        <mat-icon>local_shipping</mat-icon>
        Lieferungen
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/invoice">
        <mat-icon>receipt</mat-icon>
        Rechnungen
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/finance">
        <mat-icon>trending_up</mat-icon>
        Finanzen
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ticket-management">
        <mat-icon>confirmation_number</mat-icon>
        Ticketsystem
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/project-management">
        <mat-icon>work</mat-icon>
        Projekt-Verwaltung
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rights-administration">
        <mat-icon>vpn_key</mat-icon>
        Rechte-Verwaltung
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/other">
        <mat-icon>more_horiz</mat-icon>
        Weiteres
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Kontakte
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Telefon
    </a>

</mat-nav-list>
