<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Firstname Surname</h2>
            <h4>example@tigris.com</h4>
        </div>
        <img src="./assets/profilePicture.jpeg" alt="profilePicture">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/home">
        <mat-icon>home</mat-icon>
        Home
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/bp">
        <mat-icon>people</mat-icon>
        BP
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/deliveries">
        <mat-icon>local_shipping</mat-icon>
        Deliveries
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/invoice">
        <mat-icon>receipt</mat-icon>
        Invoice
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/finance">
        <mat-icon>trending_up</mat-icon>
        Finance
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/ticket-management">
        <mat-icon>confirmation_number</mat-icon>
        Ticketsystem
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/project-management">
        <mat-icon>work</mat-icon>
        Project-Management
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/rights-administration">
        <mat-icon>vpn_key</mat-icon>
        Rights-Administration
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/other">
        <mat-icon>more_horiz</mat-icon>
        Further
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/contacts">
        <mat-icon>contact_phone</mat-icon>
        Phone
    </a>

</mat-nav-list>
