#ticketContent{
    text-align: center;
}

#number{
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}

.mat-card-title {
    text-align: center;
}

#myProjects{
    float: left;
    width:50%;
}

#contentText{
    font-size: 180%;
    text-align: left;
    margin:10%;
}