#ticketContent{
    text-align: center;
}

#number{
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}

#pieChart{
    float: left;
    width:40%;
}

#areaChart{
    float:right;
    width:60%;
}