<!--
    Component in which the count of the tickets and the asscoicated status is shown.
    The icons are form https://icons.getbootstrap.com/
-->
<div fxLayout="row" fxLayoutAlign ="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="100">
        <mat-card-content>
            <mat-card fxFlex="20" style="margin-right:20px">
                <mat-card-title>Created Tickets</mat-card-title>
                <mat-card-content>
                    <p id="number">
                        <br>
                        75
                        <br>
                    </p>
                    <p id="ticketContent">
                        <br>
                        comparison to yesterday
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="8%" color="green" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        2%
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20" style="margin-right:20px">
                <mat-card-title>Open</mat-card-title>
                <mat-card-content>
                    <p id="number">
                        <br>
                        14
                        <br>
                    </p>
                    <p id="ticketContent">
                        <br>
                        comparison to yesterday
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="8%" color="green" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        19%
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20" style="margin-right:20px">
                <mat-card-title>In progress</mat-card-title>
                <mat-card-content>
                    <p id="number">
                        <br>
                        39
                        <br>
                    </p>
                    <p id="ticketContent">
                        <br>
                        comparison to yesterday
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="8%" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                        11%
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20" style="margin-right:20px">
                <mat-card-title>Done</mat-card-title>
                <mat-card-content>
                    <p id="number">
                        <br>
                        19
                        <br>
                    </p>
                    <p id="ticketContent">
                        <br>
                        comparison to yesterday
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="8%" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                        9%
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="20">
                <mat-card-title>Escalated</mat-card-title>
                <mat-card-content>
                    <p id="number">
                        <br>
                        1
                        <br>
                    </p>
                    <p id="ticketContent">
                        <br>
                        comparison to yesterday
                        <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="8%" color="red" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        100%
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-card-content>

    </mat-card>
</div>

<br>

<!--
    Container in which the pie chart about the number and status of tickets is displayed.
    Here, the component "pie" (app\shared\widgets) is called and the required information is provided.
    The data "ticketPieData" is fetched from the TicketService.
-->
<div fxLayout="row" fxLayoutAlign ="space-between center" fxLayoutGap="20px" class="stats-cards">
    <div id="pieChart" fxFlex="40">
        <app-widget-pie 
            [data]="ticketPieData" 
            title="Ticket overview by category">
        </app-widget-pie>
    </div>
    
    <!--
        Container in which the line chart about the number of tickets in 2021 per month is displayed.
        Here, the component "area" (app\shared\widgets) is called and the required information is provided.
        The data "ticketAreaData" is fetched from the TicketService.
    -->
    <div  id="areaChart" fxFlex="60">
        <app-widget-area 
            [data]="ticketAreaData" 
            title="Ticket monthly last year" 
            subtitle="Year 2021" 
            yAxis="Number of Tickets" 
            xAxis="Range: January to Dezember"
            [xAxisCategories]="['January', 'February', 'March', 'April', 'Mai', 'June', 'July', 'August', 'September', 'October', 'November', 'Dezember']"
            [pointStart]="0">
        </app-widget-area>
    </div>
    
</div>






