<!-- 
    Component show the finance information - e.g. equity ratio or turnover
 -->

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <div fxFlex="20">
            <mat-card style="margin-right:20px">
                <circle-progress
                    [percent]="67"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>

                <br>

                <h3 [align]="'center'">Return on sales</h3>  
            </mat-card>
        
        </div>
        <div fxFlex="20">
            <mat-card style="margin-right:20px">
                <circle-progress
                    [percent]="61"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
        
                <br>
        
                <h3 [align]="'center'">Return on equity</h3>
            </mat-card>

        </div>
        <div fxFlex="20">
            <mat-card style="margin-right:20px">
                <circle-progress
                    [percent]="25"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
        
                <br>
        
                <h3 [align]="'center'">Equity ratio</h3>
            </mat-card>
        </div>
        <div fxFlex="20">
            <mat-card style="margin-right:20px">
                <circle-progress
                    [percent]="12"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
                
                <br>
        
                <h3 [align]="'center'">Borrowed capital ratio</h3>
            </mat-card>
        </div>
        <div fxFlex="20">
            <mat-card>
                <circle-progress
                    [percent]="78"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
                
                <br>
        
                <h3 [align]="'center'">Profit compared to previous year</h3>
            </mat-card>
        </div>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayoutGap="20px">
        <div fxFlex="60%">
            <app-widget-bar 
                [data]="barData"
                title="Turnover"
                subtitle="Source : Cost Center"
                [xAxis]="['January', 'February', 'March', 'April', 'Mai', 'June', 'July', 'August', 'September', 'October', 'November', 'Dezember']"
                yAxis="Count">
            </app-widget-bar>
        </div>
        
    <div fxFlex="40%">        
        <mat-card>
            <div>
                <mat-card >
                    <table id="table" >
                        <tr>
                            <th>Capital</th>
                            <th>in €</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Equity capital</td>
                            <td>25.000.000</td>
                            <td>
                                23%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Total capital</td>
                            <td>28.000.000</td>
                            <td>
                                13%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Debt capital</td>
                            <td>3.000.000</td>
                            <td>
                                10%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Annual profit</td>
                            <td>3.120.000</td>
                            <td>
                                31%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="red" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                    </table>
                </mat-card>
                
                <br>
    
                <mat-card>
                    <table id="table">
                        <tr>
                            <th>Profit</th>
                            <th>in €</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Profit</td>
                            <td>18.500.000</td>
                            <td>
                                11%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Turnover</td>
                            <td>27.800.000</td>
                            <td>
                                24%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Operating costs</td>
                            <td>9.300.000</td>
                            <td>
                                13%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="red" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                    </table>    
                </mat-card>
    
                <br>
    
                <mat-card>
                    <table id="table">
                        <tr>
                            <th>Fixed assets</th>
                            <th>in €</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Properties</td>
                            <td>100.000.000</td>
                            <td>
                                3%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Machines</td>
                            <td>32.500.000</td>
                            <td>
                                13%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="red" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Securities</td>
                            <td>8.000.000</td>
                            <td>
                                18%
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" color="green" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </td>
                        </tr>
                    </table>   
                </mat-card>
               
            </div>
        </mat-card>
    </div>
        
</div>
